Table wise function application: pipe()

Row or column wise fnction application : apply()

Element wise Function APplication: applymap()

In [3]:
def adder(x,y):
    return x+y

In [4]:
import pandas as pd

In [6]:
import pandas as pd
import numpy as np

def adder(x,y):
    return x+y

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)
df.apply(np.mean)

col1    0.316343
col2   -0.273698
col3    0.031548
dtype: float64

       col1      col2      col3
0 -0.870874  0.111765  1.598557
1  2.336278  0.045307 -0.886367
2 -1.462365 -0.473202 -2.150488
3  0.152628 -0.420545  0.020338
4  1.426046 -0.631813  1.575702

In [9]:
df.apply(np.mean, axis=1)

0    0.279816
1    0.498406
2   -1.362018
3   -0.082526
4    0.789978
dtype: float64

In [10]:
df.apply(lambda x: x.max()-x.min())
df.apply(np.mean)

col1    0.316343
col2   -0.273698
col3    0.031548
dtype: float64

In [21]:
df.applymap(lambda x:x*100)
#print(df.apply(np.mean))

         col1       col2        col3
0  -87.087438  11.176479  159.855716
1  233.627825   4.530736  -88.636715
2 -146.236515 -47.320226 -215.048808
3   15.262846 -42.054495    2.033785
4  142.604587 -63.181301  157.570210

In [15]:
df['col1'].map(lambda x:x*100)

0    -87.087438
1    233.627825
2   -146.236515
3     15.262846
4    142.604587
Name: col1, dtype: float64